.clients-container {
    padding: 20px;
    background-color: #ADD8E6; 
    margin: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    max-width: 600px; 
    width: 100%; 
  }
  
  .clients-title {
    margin-bottom: 20px;
    color: #fff; 
  }
  
  .clients-list {
    background-color: #f4f4f4; 
    max-height: 400px; 
    overflow-y: auto; 
    border-radius: 10px; 
    padding: 10px; 
  }
  
  .client-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .client-item:last-child {
    border-bottom: none; 
  }
  
  .client-item span {
    flex: 1;
    text-align: center;
    padding: 5px 0; 
  }
  
 
  @media (max-width: 768px) {
    .clients-container {
      margin: 10px;
      padding: 10px;
    }
  }
  
  @media (max-width: 500px) {
    .clients-container {
      margin: 5px;
      padding: 5px;
    }
    .client-item span {
      padding: 2px 0; 
    }
  }
  
 
  