.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 20px;
  width: 270px;
  height: 100vh;
  background-color: #add8e6;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-title {
  margin-bottom: 2rem;
  color: #fff;
}

.sidebar-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  background-color: #add8e6;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #fff;
}

.sidebar-button:hover {
  background-color: #9cc2d4;
}

@media (max-width: 1025px) {
  .sidebar-container {
    width: 200px;
  }
}

@media (max-width: 500px) {
  .sidebar-container {
    width: 100%;
    height: auto;
    padding: 10px;
    position: relative;
  }

  .sidebar-title,
  .sidebar-button {
    text-align: center;
  }

  .sidebar-button {
    margin-bottom: 0.5rem;
  }
}
